/* .App {
  text-align: center;
} */

.n-address {
  span {
    span {
      a {
        color: white !important;
        font-size: medium;
      }
    }
  }
}
.n-balance {
  span {
    font-size: small !important;
  }
}

.n-balance-lg {
  span {
    font-size: x-large !important;
  }
}

.n-red {
  border: 1px solid red;
}

.n-blue {
  border: 1px solid blue;
}

/*your selectors if needed*/
.ant-modal-content,
.ant-modal-header {
  border-radius: 20px;
  /* background: red; */
}
.ant-notification-notice {
  border-radius: 20px;
}
