/* .App {
  text-align: center;
} */

.n-address {
  span {
    span {
      a {
        color: white !important;
        font-size: medium;
      }
    }
  }
}
.n-balance {
  span {
    font-size: small !important;
  }
}
